<section class="light" id="about">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }

    <h4>Innovation Statement</h4>
    <div style="background-color: white; width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">

        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <title>KettnerInnovationStatement</title>
                <style type="text/css">
                    * {
                        margin: 0;
                        padding: 0;
                        text-indent: 0;
                    }

                    h1 {
                        color: black;
                        font-family: "Times New Roman", serif;
                        font-style: normal;
                        font-weight: bold;
                        text-decoration: none;
                        font-size: 12pt;
                    }

                    p {
                        color: black;
                        font-family: "Times New Roman", serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: none;
                        font-size: 12pt;
                        margin: 0pt;
                    }

                    .s1 {
                        color: black;
                        font-family: Arial, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: none;
                        font-size: 11pt;
                    }

                    h4 {
                        font-weight: 400;
                        font-size: 2rem;
                        margin: 0;
                        text-align: center;
                    }
                </style>
            </head>
            <body>
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <h1 style="padding-top: 4pt;text-indent: 0pt;text-align: center;">Sherman Kettner</h1>
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p style="text-indent: 0pt;text-align: left;"><br /></p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: justify;">
                    The world thrives on innovation, the transformation of ideas into impact. Innovation provides practical solutions that fuel progress and change. This begins with a spark of creativity and
                    culminates in real-world impact. Today, I want to walk through my journey to becoming an innovator and where this will take me. These three steps mirror the path to where I am today.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: justify;">
                    Step one in my journey to becoming an innovator starts with the idea.
                    My mind is a constant wellspring of ideas. I never struggled with brainstorming solutions, whether it was about constructing a robot for the annual FIRST robotics competition or troubleshooting proprietary software at MacLean-Fogg. Ideas flow naturally for me, but coming up with ideas is just the starting point for innovation.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: justify;">
                    My drive to become an innovator stems from a desire to improve my community and contribute to a better future for upcoming generations.
                    It is about reducing wasted potential and energy in those around me. However, becoming an innovator required me to conquer my fear of failure and seize the spotlight.
                    It meant venturing into uncharted territory and discovering that innovation is not solely about generating ideas but also bringing them to life.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    The second step of my quest to become an innovator involves transforming myself from an idea-laden individual
                    into someone who can turn those ideas into tangible impact. For me, the initial stage of innovation may be the simplest - generating ideas.
                    Yet, the actual challenge surfaces when one must share, explain, and collaborate on these ideas while facing daunting obstacles that can, at times, lead to failure.
                    I once hesitated to initiate the process, fearing the unknown. However, it became clear that the only way to grow and improve in this journey was to step onto the playing field and take action.
                </p>

                <p style="padding-top: 4pt;padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    My desire to learn how to be an innovator led me to join a team collaborating with the Greater Cleveland Partnership (GCP),
                    the largest metropolitan chamber of commerce in the nation. The GCP faced a unique challenge in demonstrating its efforts to involve the
                    BIPOC(Black, Indigenous, and people of color) workforce in community construction projects. Their data was impressive; a spreadsheet alone, however, could not convey the impact they were making.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    The solution was turning the spreadsheet into a mobile app featuring an interactive map showcasing community projects.
                    The catch? We had only a semester and a tiny team of very part-time software developers. An apparent impossibility turned into a reality through
                    on-the-court innovation. We identified the project's core requirements, leveraged prebuilt application software, and designed, tested, and deployed the app.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: justify;">
                    The outcome was only possible because of the team&#39;s communication between each other and the client.
                    A separate project where this shone through was updating the SEO and improving the interaction on the Code 3 Christmas Lights website.
                    While improving SEO is a black-and-white task, meaning there is only one way to do it right, improving the interaction of a website is not.
                    It depends on the customer, goals, and owner's ideas. Improving Code 3's website was another time-crunch project,
                    as they only had our services for one semester. One month into the project, the team honed in on necessary changes.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    Yet, one hurdle emerged - a complete overhaul of the website&#39;s hosting was required, a step the client was unwilling to take.
                    With this realization, our team pivoted to focus on SEO improvements and launched a new group for generating marketing materials.
                    With both projects, through continuous communication and digging to the root of the issue or what would give the client a win,
                    the team was able to surpass the client's initial expectations significantly. These projects stand as testaments to the transformative power of innovation,
                    but they are not just isolated success stories. They embody the heart of innovation, which extends beyond a single endeavor.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    The ability to understand a client's needs and surpass their initial expectations is at the core of being an innovator. It's about applying the principles of teamwork, creative
                    problem-solving, and effective communication to achieve real-world impact. These experiences laid the groundwork for my understanding of what it truly means to be an innovator and the broader impact it can have.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    Step three is the impact this adventure has had on who I am. Discovering the essence of being an innovator was primarily a lesson in teamwork and collaboration.
                    I have had the privilege of working with individuals hailing from diverse disciplines, ranging from computer science to digital design and from marketing managers to CEOs and shareholders.
                    This journey has taught me to be adaptable, taking on roles as both a team member and a leader within cross-functional, multidisciplinary teams.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    Moreover, I have become adept at translating the constant influx of ideas into actionable plans, capable of addressing complex problems, even those that appear insurmountable.
                    Innovation is about pushing boundaries, and at times, it entails embracing the possibility of failure and understanding that every setback is an opportunity to learn and come back stronger.
                    Determination is the driving force, as the path to innovation will be marked with obstacles and challenges.
                </p>

                <p style="padding-top: 4pt;padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    Innovation is an ever-evolving journey that begins with a simple idea but ultimately reshapes the world. My path as an innovator reflects this transformative process, 
                    from the inception of ideas to transforming them into real-world impact. I understand that innovation thrives on communication, teamwork, and unwavering determination.
                    Innovation is not just a path forward; it is a transformative force that we wield to shape a brighter future. I am committed to continuing this journey, crafting change, and leaving an indelible mark on the world.
                </p>
            </body>
        </html>
    </div>

    <div style="width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">
        <a target="_blank" rel="noopener noreferrer" style="color: blue; text-decoration: underline; text-align: center;" href="/pdf/KettnerInnovationStatement.pdf">KettnerInnovationStatement.pdf</a>
    </div>

</section>


@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutMe;
    private HeroImage? hero;
    private HeroImage? hero2;

    protected override async Task OnInitializedAsync()
    {
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");
    }
}