<section class="light" id="about">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }

    <h4>Personal Statement</h4>
    <div style="background-color: white; width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">

        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <title>KettnerPersonalStatement</title>
                <style type="text/css">
                    * {
                        margin: 0;
                        padding: 0;
                        text-indent: 0;
                    }

                    h1 {
                        color: black;
                        font-family: "Times New Roman", serif;
                        font-style: normal;
                        font-weight: bold;
                        text-decoration: none;
                        font-size: 12pt;
                    }

                    p {
                        color: black;
                        font-family: "Times New Roman", serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: none;
                        font-size: 12pt;
                        margin: 0pt;
                    }

                    .s1 {
                        color: black;
                        font-family: Arial, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: none;
                        font-size: 11pt;
                    }

                    h4 {
                        font-weight: 400;
                        font-size: 2rem;
                        margin: 0;
                        text-align: center;
                    }   

                </style>
            </head>
            <body>
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <h1 style="padding-top: 4pt;text-indent: 0pt;text-align: center;">Sherman Kettner</h1>
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p style="text-indent: 0pt;text-align: left;"><br /></p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    Albert Einstein once wisely said, “Out of clutter, find simplicity. From discord, find harmony. In the middle of difficulty lies opportunity.”
                    These profound words serve as a guiding light for my personal mission: a relentless commitment to waste reduction,
                    a fervent embrace of challenges as avenues for growth, and a steadfast dedication to infusing every action with efficiency and integrity.
                </p>
                <p style="text-indent: 0pt;text-align: left;"><br /></p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: justify;">
                    In daily life, I find purpose in the simplest acts. I work to reduce waste.
                    I may lend a helping hand to someone who is struggling to lift an object or offer kind words to those who need a confidence boost.
                    My aspirations extend beyond these small gestures. I am willing to invest the time required to engage in difficult conversations with team members and make
                    constructive contributions, such as adding comments to legacy code for improved understanding. My aversion to wastefulness compels me to remain open to input, even when it is uncomfortable. When I communicate, I strive for integrity and honesty in the hope that everyone reaches the same understanding.
                    My worldview is firmly rooted in logic and reason, often unveiling the truths that emotions may obscure.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    Moreover, I recognize the immense value of diverse perspectives, particularly from those who view the world through the lens of emotion.
                    While some may dismiss a life devoid of emotion and waste as an unattainable ideal, I stand as a testament to the art of overcoming.
                    Each day, I confront physical pain resulting from the multiple surgeries I had as a child for benign tumor removal.
                    This journey, from relearning to walk at the age of 13 to full recovery by high school,
                    where I passionately participated in various sports, fuels my relentless pursuit of excellence.
                </p>

                <p style="padding-top: 4pt;padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    Many resign themselves to the belief that they are powerless to shape the future. I vehemently disagree.
                    I am always on the lookout for action I can take toward that goal. An example of my proactive approach occurred when,
                    with only a twelve-hour notice, I presented before multiple CEOs, heads of government offices,
                    and other entrepreneurs from the local area. I showcased how an app I had assisted in developing would improve
                    The Greater Cleveland Partnership’s Equity and Inclusion/CUBE initiative’s ability to demonstrate their work around the city.
                    Following a brief presentation, the CEO of Sherwin-Williams approached me with a request to develop a similar app for their organization.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    My unwavering commitment to a brighter future is why I have chosen to pursue a career in cybersecurity.
                    My fascination with the field began during high school when I explored Kali Linux applications and discovered the ease with which hackers could compromise networks.
                    This revelation ignited a genuine desire to utilize my skills to protect others from digital threats, a mission that continues to drive me forward.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    I have realized that cybersecurity is not just a career choice but a calling. I am dedicated to reducing the ever-present threat of cyberattacks,
                    whether I assist my grandmother in identifying phishing emails or dedicate four years to studying how to safeguard organizations during my college education.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    While many may perceive a path in cybersecurity as solitary, I swiftly realized that making a meaningful impact requires effective communication.
                    Despite the typical stereotype of computer scientists as introverts, I refuse to let this label limit my interactions with others.
                    I have thrived in public speaking engagements and have even broadcasted sports events to hundreds of viewers.
                </p>

                <p style="padding-top: 4pt;padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    However, presenting ideas is only one piece of the puzzle. Actual change on a grand scale hinges on the ability to collaborate effectively within a team.
                    I have honed this skill with dedication, whether taking a leadership role or contributing as a team member.
                    My experiences in cross-functional multidisciplinary teams have illuminated the profound efficiency that can be harnessed when diverse talents unite.
                </p>

                <p style="padding-left: 5pt;text-indent: 36pt;line-height: 206%;text-align: left;">
                    As I embark on this journey to shape a better world through waste reduction and cybersecurity, I carry with me the wisdom of Albert Einstein’s words,
                    reminding me that opportunity is born from adversity. With unwavering dedication, we can turn discord into harmony and clutter into simplicity. My commitment extends to every facet of my life, from my career in cybersecurity to my contributions to the community and the world at large. I actively seek challenges to overcome and form collaborative teams to conquer them, believing we can make a lasting impact together.
                </p>
            </body>
        </html>
    </div>

    <div style="width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">
        <a target="_blank" rel="noopener noreferrer" style="color: blue; text-decoration: underline; text-align: center;" href="/pdf/KettnerPersonalStatement.pdf">KettnerPersonalStatement.pdf</a>
    </div>

</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutMe;
    private HeroImage? hero;
    private HeroImage? hero2;

    protected override async Task OnInitializedAsync()
    {
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");
    }
}