<section class="light" id="about">
    @if (hero is not null)
    {
            <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }
    <h4>Resume</h4>
    <div style="background-color: white; width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">

        
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Sherman Kettner Resume </title>
            <meta name="author" content="Don Feterd" />
            <style type="text/css">
                * {
                    margin: 0;
                    padding: 0;
                    text-indent: 0;
                }

                h1 {
                    color: black;
                    font-family: Calibri, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 16pt;
                }

                .p, p {
                    color: black;
                    font-family: Calibri, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: none;
                    font-size: 10pt;
                    margin: 0pt;
                }

                .b, b {
                    color: #00F;
                    font-family: Calibri, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: underline;
                    font-size: 10pt;
                }

                .s1 {
                    color: #00F;
                    font-family: Calibri, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: none;
                    font-size: 10pt;
                }

               .s2 {
                    color: #00F;
                    font-family: Calibri, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: underline;
                    font-size: 10pt;
                }

                h2 {
                    color: black;
                    font-family: Calibri, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 12pt;
                }

                h3 {
                    color: black;
                    font-family: Calibri, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 11pt;
                }

                .s3 {
                    color: black;
                    font-family: Calibri, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: none;
                    font-size: 11pt;
                }

                .s4 {
                    color: black;
                    font-family: Calibri, sans-serif;
                    font-style: italic;
                    font-weight: normal;
                    text-decoration: none;
                    font-size: 11pt;
                }

                .s5 {
                    color: black;
                    font-family: Calibri, sans-serif;
                    font-style: italic;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 11pt;
                }

                h4 {
                    font-weight: 400;
                    font-size: 2rem;
                    margin: 0;
                    text-align: center;
                }

                li {
                    display: block;
                }

                #l1 {
                    padding-left: 0pt;
                }

                    #l1 > li > *:first-child:before {
                        content: " ";
                        color: black;
                        font-family: Symbol, serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: none;
                        font-size: 10pt;
                    }

                #l2 {
                    padding-left: 0pt;
                }

                    #l2 > li > *:first-child:before {
                        content: " ";
                        color: black;
                        font-family: Symbol, serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: none;
                        font-size: 10pt;
                    }

                li {
                    display: block;
                }

                #l3 {
                    padding-left: 0pt;
                }

                    #l3 > li > *:first-child:before {
                        content: " ";
                        color: black;
                        font-family: Symbol, serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: none;
                        font-size: 10pt;
                    }



                /* Create two equal columns that floats next to each other */
                .column {
                    float: left;
                    width: 45%;
                    padding: 10px;
                }

                /* Clear floats after the columns */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            </style>
        </head>

        <body>
            <h1 style="padding-top: 1pt;padding-left: 4pt;text-indent: 0pt;line-height: 20pt;text-align: center;">Sherman Kettner</h1>
            <p class="s2" style="padding-left: 4pt;text-indent: 0pt;text-align: center;">
                <a href="mailto:skettner@cyberskett.info"
                   style=" color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt;" target="_blank">
                    Monument, CO | 719-272-1131|
                </a>
                skettner@cyberskett.info
                <span class="s1"> </span>
                <span class="p">| </span>
                <a href=" http://www.linkedin.com/in/sherman-kettner-4246a1202/ " class="b" target="_blank">
                    https://www.linkedin.com/in/sherman-kettner-4246a1202/
                </a>
            </p>




            <p style="text-indent: 0pt;text-align: left;">
                <br />
            </p>

            <h2 style="padding-top: 2pt;padding-left: 4pt;text-indent: 0pt;text-align: center;">Summary of Qualifications</h2>

            <p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">
                Highly motivated team player with unquestionable work ethic and a drive for excellence. Known for fast analysis and ability to rapidly evaluate new problems. Innovative thinker; can work independently and in cross-functional multidisciplinary teams using the resources at my disposal. I have a proven track record of developing and maintaining key customer relationships. Effective problem solver with strong communication skills. Competent Agile application developer in Visual Studios. Experienced presenter both in person and over online calls. Competent communicator through both written and verbal communication.
            </p>

            <p style="text-indent: 0pt;text-align: left;"><br /></p>





            <h2 style="padding-top: 2pt;padding-left: 4pt;text-indent: 0pt;line-height: 15pt;text-align: center;">Education</h2>

            <h3 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
                Master of Science in Computer Science                          <span class="s3">Anticipated Graduation: May 2025 University of Colorado Colorado Springs (UCCS)</span>
            </h3>

            <p style="text-indent: 0pt;text-align: left;"><br /></p>

            <h3 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
                Bachelor of Innovation in Computer Science                       <span class="s3">Anticipated Graduation: May 2024 University of Colorado Colorado Springs (UCCS)</span>
            </h3>

            <p style="padding-left: 41pt;text-indent: 0pt;text-align: left;">
                GPA: 3.96, President’s List and Dean’s List, Honors Student
            </p>





            <p style="text-indent: 0pt;text-align: left;"><br /></p>

            <h2 style="padding-top: 2pt;padding-left: 4pt;text-indent: 0pt;line-height: 15pt;text-align: center;">Work &amp; Related Experience</h2>

            <h3 style="padding-left: 4pt;text-indent: 0pt;text-align: left;">Software Developer</h3>

            <p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
                Maclean Fogg, Remote/Mundelein, Illinois                               
            </p>
            <p class="s3" style="text-align: right;">
                Summer 2022 – Present
            </p>

            <ul id="l1">
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">
                        Designed, Coded and Deployed a .Net web application that allowed for note taking using a SQL database to improve efficiency on the plant floor.
                    </p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">
                        Upgraded a forklift scheduling .Net web application, to expand the number of departments that could interact, from two to as many were in the SQL database.
                    </p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">
                        Develop Azure Pipelines for application deployment and for automatically updating version numbers of projects upon commits to GIT repositories, reducing the workload on maintenance for the application development team.
                    </p>
                </li>

                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">
                        Redeveloped every packaging label for the plant to allow us to upgrade software.
                    </p>
                    <p style="text-indent: 0pt;text-align: left;"><br /></p><p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
                        Web Designer &amp; Marketing Researcher
                    </p>
                    <p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
                        TLC Unlimited and Code 3 Christmas Lights, St Thomas, Virgin Islands &amp; Colorado Springs, Colorado
                    </p>
                    <p class="s3" style="padding-left: 406pt;text-indent: 0pt;text-align: right;">
                        Fall of 2021 and Spring of 2023
                    </p>
                </li>

                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;line-height: 13pt;text-align: left;">
                        Created a modern website for TLC Unlimited to spread awareness of what they do and accept donations.
                    </p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;line-height: 13pt;text-align: left;">
                        Lead a team to create promotional materials for marketing efforts with consistent branding message.
                    </p>
                </li>

                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;line-height: 13pt;text-align: left;">
                        Organized and presented team research and analysis into marketing trends utilizing Google analytics.
                    </p>
                </li>
                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">
                        Added video to Code 3 Christmas Lights website and improved SEO to improve traffic flow through the website and bring more business to Code 3 Christmas Lights.
                    </p>

                    <p style="text-indent: 0pt;text-align: left;"><br /></p>

                    <h3 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Desktop Support Specialist</h3>

                    <p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
                        Adecco/Radial for Hibbett Sports, Remote                                     
                    </p>
                    <p class="s3" style="text-align: right;">
                        Summer 2021
                    </p>

                </li>

                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">
                        Solved 8+ customer calls per hour on items ranging from return complication, current package location, account issues, ordering items, to finding items in store giving customer a better experience at Hibbett Sports.
                    </p>
                </li>

                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">
                        Maintained a complicated set of applications for receiving and solving customer calls remotely with minimal support, allowing me to spend more time producing value for the company.
                    </p>
                </li>

                <li data-list-text="">
                    <p style="padding-left: 41pt;text-indent: -18pt;text-align: left;">
                        Received an official award for praised by customer for remaining calm under pressure, 1 of 15 through the whole summer from 6 call centers.
                    </p>

                    <p style="text-indent: 0pt;text-align: left;"><br /></p>

                    
                </li>

            </ul>



            <h2 style="padding-top: 2pt;padding-left: 4pt;text-indent: 0pt;line-height: 15pt;text-align: center;">Skills &amp; Capabilities</h2>

            <div class="row">
                <div class="column">
                    <ul id="l2">
                        <li data-list-text="">
                            <p style="padding-left: 59pt;text-indent: -18pt;line-height: 13pt;text-align: center;">
                                Programming in C/C++/C#/Java/HTML/SQL/R
                            </p>
                        </li>

                        <li data-list-text="">
                            <p style="padding-left: 59pt;text-indent: -18pt;line-height: 13pt;text-align: center;">
                                MS Office Suite (Word, Excel, PowerPoint, etc.)
                            </p>
                        </li>
                        <li data-list-text="">
                            <p style="padding-left: 59pt;text-indent: -18pt;text-align: center;">
                                Leadership/Conflict management skills
                            </p>
                        </li>
                        <li data-list-text="">
                            <p style="padding-left: 59pt;text-indent: -18pt;line-height: 13pt;text-align: center;">
                                Organized/Detail <span style=" color: #333;">oriented</span>
                            </p>
                        </li>
                        <li data-list-text="">
                            <p style="padding-left: 59pt;text-indent: -18pt;text-align: center;">
                                Windows and Linux (Ubuntu/Kali) OS
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <ul id="l3">
                        <li data-list-text="">
                            <p style="padding-left: 21pt;text-indent: -18pt;line-height: 13pt;text-align: center;">
                                Azure
                            </p>
                        </li>
                        <li data-list-text="">
                            <p style="padding-left: 21pt;text-indent: -18pt;line-height: 13pt;text-align: center;">
                                Critical thinking/Problem solving skills
                            </p>
                        </li>
                        <li data-list-text="">
                            <p style="padding-left: 21pt;text-indent: -18pt;text-align: center;">
                                .NET application development
                            </p>
                        </li>
                        <li data-list-text="">
                            <p style="padding-left: 21pt;text-indent: -18pt;line-height: 13pt;text-align: center;">
                                Client satisfaction capability
                            </p>
                        </li>
                        <li data-list-text="">
                            <p style="padding-left: 21pt;text-indent: -18pt;text-align: center;">
                                Engaging oral presenter
                            </p>
                        </li>
                    </ul>
                </div>
            </div>



        </body>
        </html>
    </div>

    <div style ="width: 50%; padding: 4rem; margin: 3rem auto; text-align: center;">
    <a target="_blank" rel="noopener noreferrer"  style="color: blue; text-decoration: underline; text-align: center;" href="/pdf/ShermanKettnerResume.pdf">ShermanKettnerResume.pdf</a>
    </div>

</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutMe;
    private HeroImage? hero;
    private HeroImage? hero2;

    protected override async Task OnInitializedAsync()
    {
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");
        hero2 = await HeroImageService.GetHeroAsync(img => img.Name is "resume");
    }
}