<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        #header {
            background-color: #222 !important;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }

            #header a {
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                display: block;
            }

                #header a:hover {
                    background-color: rgba(0,0,0,0.2);
                }

        .menu-icon {
            display: none;
            font-size: 30px;
            padding: 14px 16px;
            cursor: pointer;
            color: white;
            text-align: right;
        }

        .nav-links {
            display: flex;
            flex-wrap: wrap;
        }

        @@media screen and (min-width: 601px) {
            .nav-links

        {
            flex-direction: row;
            justify-content: flex-start;
        }

        .nav-links a {
            display: block;
        }

        .menu-icon {
            display: none;
        }

        }

        @@media screen and (max-width: 600px) {
            .nav-links

        {
            display: none;
            flex-direction: column;
            width: 100%;
        }

        .nav-links.show {
            display: flex;
        }

        .menu-icon {
            display: block;
        }

        }
    </style>
</head>
<body>

    <div id="header">
        <span class="menu-icon" onclick="toggleMenu()">☰</span>
        <div id="nav" class="nav-links">
            <a href="#home" target="_top">Home</a>
            <a href="#about" target="_top">About</a>
            <a href="#portfolio" target="_top">Portfolio</a>
            <a href="/pdf/ShermanKettnerResume.pdf" target="_top">Resume</a>
            <a href="#contact" target="_top">Contact</a>
        </div>
    </div>

    <script>
        function toggleMenu() {
          var nav = document.getElementById("nav");
          nav.classList.toggle("show");
        }
    </script>

</body>
</html>
